<main class="initial-amount-container">
    <section class="initial-amount-section">
        <div class="input-range-container">
            <h2 class="section-title">Elige el monto mensual de ahorro</h2>
            <div class="range-label-container">
                <label for="investment-range" class="range-label">Monto mínimo de inversión</label>
                <input 
                    type="range" 
                    id="investment-range" 
                    min="75000" 
                    max="250000" 
                    step="100" 
                    class="amount-input"
                    (input)="onRangeChange($event)"
                >
                <label for="investment-range" class="range-label">Monto máximo de inversión</label>
            </div>
            <p class="amount-display">El monto es de: <span id="rangeValue">${{ rangeValue }} COP</span></p>  
            <div class="submit-button-container">
                <button (click)="showModal()" class="submit-button">Inscribirse</button>
            </div>  
        </div>
    </section>
</main>
