<main class="movements-container">
    
    <header class="header-section">
        <h1 class="logo-title"> Easy<span>Fund</span></h1>
        <a href="/options" class="service-link">Contratar más servicios</a>
        <aside class="profile-section">
            <figure [style.backgroundColor]="profileColor" class="avatar-icon"></figure>
            <a href="user" class="profile-link">User</a>
        </aside>
    </header>

    <article class="movements-list-wrapper">
        <section>
            <ul class="list-header">
                <li>Producto</li>
                <li>Tipo de Transacción</li>
                <li>Fecha</li>
                <li>Monto</li>
            </ul>
        </section>    

        <section class="transaction-lists">
            <ul class="transaction-item">
                <li>Ecopetrol</li>
                <li>Suscripción</li>
                <li>09/11</li>
                <li>-75,000</li>
            </ul>
            <ul class="transaction-item">
                <li>Dinamica</li>
                <li>Cancelación</li>
                <li>10/10</li>
                <li>+150,000</li>
            </ul>
            <ul class="transaction-item">
                <li>Ecopetrol</li>
                <li>Suscripción</li>
                <li>09/11</li>
                <li>-75,000</li>
            </ul>
            <ul class="transaction-item">
                <li>Dinamica</li>
                <li>Cancelación</li>
                <li>10/10</li>
                <li>+150,000</li>
            </ul>
        </section>
    </article>
    
</main>