<main class="containe-user">
  <article class="containe-user-card">
    <div [style.backgroundColor]="profileColor" class="profile-pic"></div>
    <p class="id-number">{{userDetails?.name}}</p>
    <form [formGroup]="userForm">
      <input
        type="text"
        formControlName="phoneNumber"
        placeholder="Phone number"
      />
      <!-- Mensaje de error para phoneNumber -->
      <div *ngIf="userForm.get('phoneNumber')?.invalid && userForm.get('phoneNumber')?.touched" class="error-message">
        * El número de teléfono es obligatorio
      </div>

      <input type="text" formControlName="email" placeholder="Email" />
      <!-- Mensaje de error para email -->
      <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="error-message">
        <span *ngIf="userForm.get('email')?.errors?.['required']">* El email es obligatorio</span>
        <span *ngIf="userForm.get('email')?.errors?.['email']">* El formato del email es incorrecto</span>
      </div>

      <button
        type="button"
        class="button-user"
        (click)="onUpdateProfile()"
      >
        {{ buttonLabel }}
      </button>
    </form>
    <!-- Contenedor para las partículas -->
    <div class="particle-container" #particleContainer></div>
  </article>
</main>
