<main class="containe-user">
    <article class="containe-user-card">
      <div [style.backgroundColor]="profileColor" class="profile-pic"></div>
      <p class="id-number">ID Number</p>
      <form [formGroup]="userForm">
        <input type="text" formControlName="phoneNumber" placeholder="Phone number">
        <input type="text" formControlName="email" placeholder="Email">
        <button type="button" class="button-user" (click)="onUpdateProfile()">{{buttonLabel}}</button>
      </form>
      <!-- Contenedor para las partículas -->
      <div class="particle-container" #particleContainer></div>
    </article>
  </main>
  