<main>
    <section class="entities-info">
        <div class="container-sedes">
            <h2 class="entenidads-disponibles">Entities available at this location</h2>
            <app-location-dropdown />
        </div>
        <ul class="product-list">
            <li class="product-card">
                <div>
                    <h2 class="product-card__title">Ecopetrol</h2>
                    <p class="category">FPV</p>
                </div>
                <p class="profit-percentage">0.5%</p>
                <p>$72.900 <span class="product-card__span">/mes</span></p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis labori</p>
                <button class="product-card__button--primary">
                    <a href="initial-amount">Get started</a>
                </button>
            </li>

            <li class="product-card">
                <div>
                    <h2 class="product-card__title">Ecopetrol</h2>
                    <p class="category">FPV</p>
                </div>
                <p class="profit-percentage">0.5%</p>
                <p>$72.900 <span class="product-card__span">/mes</span></p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis labori</p>
                <button class="product-card__button--primary">
                    <a href="initial-amount">Get started</a>
                </button>
            </li>
            <li class="product-card">
                <div>
                    <h2 class="product-card__title">Ecopetrol</h2>
                    <p class="category">FPV</p>
                </div>
                <p class="profit-percentage">0.5%</p>
                <p>$72.900 <span class="product-card__span">/mes</span></p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis labori</p>
                <button class="product-card__button--primary">
                    <a href="initial-amount">Get started</a>
                </button>
            </li>

            <li class="product-card">
                <div>
                    <h2 class="product-card__title">Ecopetrol</h2>
                    <p class="category">FPV</p>
                </div>
                <p class="profit-percentage">0.5%</p>
                <p>$72.900 <span class="product-card__span">/mes</span></p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis labori</p>
                <button class="product-card__button--primary">
                    <a href="initial-amount">Get started</a>
                </button>
            </li>

            <li class="product-card">
                <div>
                    <h2 class="product-card__title">Ecopetrol</h2>
                    <p class="category">FPV</p>
                </div>
                <p class="profit-percentage">0.5%</p>
                <p>$72.900 <span class="product-card__span">/mes</span></p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis labori</p>
                <button class="product-card__button--primary">
                    <a href="initial-amount">Get started</a>
                </button>
            </li>
        </ul>
    </section>  
</main>
