<main>
    <section class="entities-info">
        <div class="header">
            <diV class="">
                    <h2 class="entenidads-disponibles">Elige tu sede favorita </h2> 
                    <app-location-dropdown 
                        [branches]="branches"
                        (branchSelected)="productsByBranch($event)"
                    />
                </diV>

                <h3 class="entenidads-disponibles">{{defaultBranch?.name}}</h3>
            
        </div>
        <ul class="product-list">
            <li 
                class="product-card"
                *ngFor="let product of products">
                <div>
                    <h2 class="product-card__title">{{getProductNameForClient(product.name)}}</h2>
                    <p class="category">{{product.productType}}</p>
                </div>
                <p class="profit-percentage">{{product.averageYield}}%</p>
                <p>$72.900 <span class="product-card__span">/Mes</span></p>
                <p class="description">{{product.description}}</p>
                <button 
                    class="product-card__button--primary"
                    (click)="openModal(product)">
                    <a href="#">Suscribirme</a>
                </button>
            </li>
        </ul>
    </section>
    <section>
        <app-initial-amount *ngIf="isModalOpen" [product]="selectedProduct" (close)="closeModal()"></app-initial-amount>
    </section>  
</main>
